<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

	<bean id="data" class="com.abc.dataLayer.EmployeeDao">
	
	</bean>
	
	<bean id="service" class="com.abc.serviceLayer.EmployeeSL">
	
	</bean>
	
	<bean id="controller" class="com.abc.controller.ControllerClass">
	
	</bean>

</beans>
